# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Creative Coding.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AurL\Documents\GitHub\Creative Coding\.idea\.idea.Creative Coding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
